<%= semantic_form_for(assigns[:review], :url => assigns[:action], :html => { :multipart => true }) do |f| %>
	<%= f.inputs :name => "Script" do %>
		<%= f.input :script %>
		<%= f.input :recommendation %>
 		<%= f.input :link, :as => :file %>
		<%= f.input :remove_link, :as => :boolean, :label => "Remove attachment" if f.object.link? %>
		<%= f.input :link_cache, :as => :hidden %>
	<% end %>

	<%= f.actions do %>
		<%= f.action :submit %>
		<li class="cancel">
			<%= link_to "Cancel", script_path(params[:id]) %>
		</li>
	<%end%>
<% end %>